.header {
    background-image: url('/assets/images/bg-hero-desktop.svg');
    background-color: var(--very-pale-cyan);
    background-position: bottom;
    background-size: 75%;
    background-repeat: no-repeat;
    padding-bottom: 3em;

    @include respond(mobile) {
        background-image: url('/assets/images/bg-hero-mobile.svg');
        background-size: initial;
        background-size: 110%;
    }

    &-grid {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 3em 2em;

        @include respond(mobile) {
            display: grid;
            gap: 3em 0;
            grid-template-columns: 1fr;
        }
    }
}

.main-text {
    align-self: center;

    @include respond(mobile) {
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & > * + * {
        margin-top: 1.4rem;
    }

    p {
        color: var(--very-dark-cyan);
        font-size: 0.8rem;

        @include respond(mobile) {
            text-align: center;
        }
    }
}

.main-image {
    width: 30rem;

    @include respond(mobile) {
        grid-row: 3;
        width: 100%;
    }

    img {
        display: block;
        width: 100%;
    }
}

.main-image,
.main-text {
    @include respond(mobile) {
        padding: 0 0.5rem;
    }
}
