.logo {
    &__img {
        display: block;
        width: 100%;
    }

    &--main {
        width: 8em;

        @include respond(mobile) {
            width: 6em;
        }
    }

    &--alt {
        width: 10rem;
    }
}
