.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.relative {
    position: relative;
}

.span-3 {
    grid-column: span 3;

    @include respond(mobile) {
        grid-column: 1;
        grid-row: 1;
    }
}

.span-2 {
    grid-column: span 2;
}
